body { background: #123502; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 59px; display: flex; }
.block-payment-0 { color: #a82c7f; font-size: 16px; margin-bottom: 5px; }
.block-config-1 { color: #e6d871; font-size: 19px; margin-bottom: 5px; }
.block-cluster-2 { color: #477157; font-size: 16px; margin-bottom: 5px; }
.block-email-3 { color: #d0bad6; font-size: 20px; margin-bottom: 5px; }
.block-token-4 { color: #302839; font-size: 15px; margin-bottom: 5px; }